@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9c08a1;
  color: white;
  font-family: "Roboto", sans-serif;
}

input {
  background-color: #490640;
  border-style: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px 0 15px 0;
  border-bottom: solid 3px #d80b0b;
  color: white;
}

.app-wrap {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  text-align: center;
}

.city {
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 50px;
}

.temp {
  margin: 30px 0;
  font-size: 4em;
}

.weather {
  font-size: 1.3em;
  margin-bottom: 20px;
}

/* .grid-container {
        
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 5px;
    height: 100%;
  }
  .grid-item1{
  
      background-color: royalblue;
      display: grid;
  }
  .grid-item{
  
  background-color: lightgrey;
  display: grid;
  }
  h1, h3{
      color: white;
      font-weight: bolder;
      margin-top: 25%;
  }
  span{
      color: black;
      font-weight: bolder;
  }
  p{
      color: white;
      
  }
  li{
      color: white;
      
  }
  .bdy{
      margin-left: 20%;
  }
  .dd{
      margin-left: 25%;
      margin-top: 10%;
  }
  #pp{
      color: black;
  }
  #show{
      color: black;
      font-size: xx-large;
  }
  #show1,#show3{
      color: black;
      font-size: medium;
  }
  #show2{
      color: black;
      font-size: xx-large;
  }
  #tt{
      margin-left: 20%;
      margin-top: 20%;
  }
     
     */
